# Ignore node_modules (dependencies)
node_modules

# Ignore Next.js build output
.next
out

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore TypeScript build files
*.tsbuildinfo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package managers' lockfiles (optional, if using a single package manager)
pnpm-lock.yaml
yarn.lock

# Ignore VSCode settings (optional)
.vscode/

# Ignore Turbo and cache files (optional)
turbo
.cache

# Ignore Firebase files (if using Firebase)
.firebase/

# Ignore Storybook files (if using Storybook)
.storybook/
storybook-static/